
body{
    
    font-family: sans-serif;
}
h1{
    color: aliceblue;
    font-size: 40px;
    background-color: #617700;
}
p{
    font-size: 20px;
}
h2{
    color:aliceblue;
    background-color: #617700;
}
h3{
    color: aliceblue;
    background-color: #617700;

}
a{
    text-align-last: inherit;
}

