
body{
    
    font-family: sans-serif;
    text-align: center;
}
h1{
    color: aliceblue;
    font-size: 40px;

}
p{
    font-size: 20px;
}
h2{
    color:aliceblue;
    background-color: #617700;
}
h3{
    color: aliceblue;
    background-color: #617700;

}
a{
    text-align-last: inherit;

}
<style>
body{padding:50px 400px;}
form{background-color:#e57e50;padding:15px;border-radius:5px;}
legend{color:#622d00;}
lable{display:inline-block;width:150px;text-align:left;font-size:13px;}
input,select,textarea{padding:5px;border-radius:5px;margin-top:5px;font-family:sans-serif;
font-size:14px;}
aradio{font-size:13px;}
select,textarea{width:175px}
</style>

